/****************************************************************************
**** COMMON STYLES **********************************************************
****************************************************************************/
/*TITLES STYLES*/

span,a,p,h1,h2,h3,h4{font-weight: lighter; font-family: 'Roboto', serif;}
h2 {color: rgb(209, 96, 42);font-size: 25px; text-align: justify; text-justify: inter-word;}
h3 {font-size: 20px;color: #007383;text-align: justify; text-justify: inter-word;}
h4 {font-size: 18px;color:#288824;text-align: justify; text-justify: inter-word;}
h5 {font-size: 14px;margin: 10px 0px;}
a {text-decoration: none;color: #0076E2;}
a:hover {color: #2E9B78;}
p {font-size: 17px; color:#626976;}
/***********************************************************/
/**DOWNLOAD CSV BUTTON    ** *******************************/
/***********************************************************/
a.download {float:right; font-size: 18px;color: #2E752A;cursor: pointer;}
a.download:hover {font-weight: bold;}
/***********************************************************/
/***** PARAMETERS ***/
span.paramsTitle {font-weight: lighter; font-family: Roboto, serif; font-size: 15px; color: #5A5A5A;}
span.paramsAttr {font-weight: lighter; font-family: Roboto, serif; font-size: 15px; color: #4057FA;}
/***********************************************************/
/**STYLES FOR LATERAL MENU** *******************************/
/***********************************************************/
ul.menu, ul.submenu {margin: 0;padding: 0;}
.myDataLateralMenu {background-color : #f8f8f8; border: 1px solid #E0E0E0 !important;}
ul.menu li{display: block;color: #444;font-size: 13px;padding: 10px 10px 10px 20px ;border: 1px solid #E0E0E0;border-top: 0;border-right: 0;}
ul.menu li.parentOption {padding-left: 7px;font-size: 15px;}
ul.menu li a {cursor: pointer;color: #626976;text-decoration: none;}
ul.menu li a:hover {color: #4BA8FF;}
ul.submenu{background-color :#FDFDFD}
div.generatingFormWaitDiv{
    background-image: url(/resources/images/wait_32x32.gif);
    margin: 200px auto;
    width: 150px;
    padding-top: 32px;
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;
}

/***********************************************************/
/**STYLES FOR HEADER** *******************************/
/***********************************************************/
#header {width: 100%; }
#header img {height: 50px;float: left; margin: 20px;}
#header span { float: right; }

/***********************************************************/
/**STYLES FOR HOME PANEL ** *******************************/
/***********************************************************/
//#home_panel {margin: 10px auto;}
#home_panel img {
    width: 99%;
    margin: 15px auto;
}

#LoadParameters {cursor: pointer;text-decoration: none;}
#LoadParameters:hover {color: #4BA8FF;}


/***********************************************************/
/**STYLES FOR GRID: BINDING SITES **************************/
/***********************************************************/

rect.binding_site  {
    stroke: brown;
    stroke-width: 0px;
    -webkit-transition: stroke .5s, stroke-width .5s;
}

a.miTag:hover rect.binding_site {
    stroke: brown;
    stroke-width: .08px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*** HINT DISPLAY ***/
.x-form-cb-wrap-inner {
    display: inline-block;
}

/*****************************************************************************
**** BUTTONS AND LINKS STYLES ************************************************
*****************************************************************************/
/*.acceptButton, .cancelButton, .button, .editButton{height: 30px; margin: 2px 5px 2px 0px; -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, rgb(223, 223, 223)), color-stop(1, rgb(173, 173, 173)) ); background: -moz-linear-gradient( center top, #dfdfdf 5%, #adadad 100% ); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#adadad'); background-color: rgb(173, 173, 173); -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid rgb(187, 187, 187); display: inline-block; color: #777777; font-family: arial; font-size: 15px; font-weight: bold; padding: 6px 24px; text-decoration: none; text-shadow: 1px 1px 0px #ffffff;}*/

.submitButton, .button {border-radius: 2px; float: right; border: solid #A84F25 1px; background-color: #999; cursor: pointer; background-image: none;}
.submitButton .x-btn-inner, .cancelButton .x-btn-inner, .button .x-btn-inner, .editButton .x-btn-inner{color: #ffffff!important; text-decoration: none; font-weight: bold; cursor: pointer; }
.submitButton {background: #D1602A;}
.submitButton.x-item-disabled {background: #D8602A;}
.submitButton:hover {-moz-box-shadow:inset 0px 1px 0px 0px #F06B2B; -webkit-box-shadow:inset 0px 1px 0px 0px #F06B2B; box-shadow:inset 0px 1px 0px 0px #F06B2B; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #D1602A), color-stop(1, #F06B2B) ); background:-moz-linear-gradient( center top, #D1602A 5%, #F06B2B 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1602A', endColorstr='#8cb82b'); background-color:#D1602A; border:1px solid #F06B2B;}
.submitButton.x-btn-inner {text-shadow:1px 1px 0px #F06B2B;}



#progressbox {
    border: 1px solid #0099CC;
    padding: 1px; 
    position:relative;
    width:400px;
    border-radius: 3px;
    margin: 10px;
    display:none;
    text-align:left;
}
/***
 * I have changed the name to aprogressbar because I don't remember if I'm using this style. TemporalFix
 * */
#aprogressbar {
    height:20px;
    border-radius: 3px;
    background-color: #003333;
    width:1%;
}
#statustxt {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}
